body {
    font-size: x-large;
    background-color: #eaeaea;
    /* image credit to: http://backgroundlabs.com/item/light-grey-moroccan-pattern/ */
    background-image: url("images/light-grey-moroccan-pattern-3021.png");
    background-attachment: fixed;
    margin: 0;
    font-family: 'Cormorant Upright', serif;
    color: #fefefe;
    cursor: default;
}

.material-icons {
    vertical-align: -14%;
}

/* "go to top" button credit to https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 5px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 1px solid #fefefe;
    background-color: #434746;
    color: #fefefe;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
}

    #myBtn:hover {
        background-color: #111111;
    }

/* The navigation bar */
.nav-bar {
    padding-top: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 625px;
}

    /* Links inside the nav-bar and footer */
    .nav-bar ul, .footer-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #434746;
    }

    .nav-bar li, .footer-nav li {
        display: inline;
    }

        .nav-bar li a, .footer-nav li a {
            display: inline-block;
            color: #fefefe;
            padding: 10px 8px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 5px;
        }

            .nav-bar li a:hover:not(.active), .footer-nav li a:hover:not(.active) {
                background-color: #111111;
                color: #fefefe;
            }

.active {
    background-color: #f06277;
}

.nav-logo {
    padding: 10px 0;
}

@media only screen and (max-width: 980px) {
    .nav-bar li {
        font-size: medium;
    }
}

@media only screen and (max-width: 750px) {
    .main {
        width: 100%;
    }

    .nav-bar li a {
        padding: 10px 0;
    }
}



/*.share {
    width: 15%;
    text-align: right;
    float: right;
    margin-right: 20px;
    padding: 10px 20px 10px 0;
}

.social {
    float: right;
    background-color: #434746;
    margin-right: 20px;
    padding: 10px;
}*/

/* Header content */
header {
    min-width: 625px;
}

    header h1 {
        font-size: 250%;
        margin-top: 65px;
        margin-bottom: 0;
        text-align: center;
        width: 80%;
        min-width: 625px;
        margin-right: auto;
        margin-left: auto;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    header span {
        border-radius: 5px;
        padding: 0 50px 3px;
        background-color: #f7abae;
        background: rgba(247, 171, 174, 0.9);
        border: 1px solid #fefefe;
    }

    header img {
        width: 25%;
        height: auto;
        max-width: 400px;
        margin: auto;
        margin-top: -60px;
        display: block;
    }

/* Main content */
.main {
    display: block;
}

main {
    width: 80%;
    min-width: 625px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    background-color: #f7abae;
    background: rgba(247, 171, 174, 0.9);
    border-radius: 5px;
    text-align: center;
    border: 1px solid #fefefe;
}

    main h2 {
        padding: 20px;
        margin: 0;
        font-weight: 400;
        font-style: italic;
        color: #434746;
    }

    main img {
        border: 1px solid #fefefe;
        border-radius: 5px;
    }

.home-content, .services-content, .stylist-content {
    width: 50%;
    min-width: 400px;
    height: auto;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

    .home-content ul {
        list-style-type: none;
        padding: 0;
    }

/* home page main content*/
.list-title {
    font-weight: bolder;
    text-decoration: underline;
}

.location, .hours {
    display: inline;
    margin-top: 45px;
    width: 35%;
    border: 1px solid #fefefe;
    border-radius: 5px;
    background-color: #434746;
}

.location {
    float: left;
}

.hours {
    float: right;
}

/* services page main content*/
.services-content p {
    padding: 30px;
}
/* accordian credit to https://www.w3schools.com/howto/howto_js_accordion.asp */
button.accordion {
    background-color: #eee;
    color: #434746;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: 1px solid #fefefe;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    button.accordion.active, button.accordion:hover {
        background-color: #ddd;
    }

    button.accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    button.accordion.active:after {
        content: "\2212";
    }

div.panel {
    padding: 0 18px;
    background-color: #f7abae;
    background: rgba(247, 171, 174, 0.9);
    border-right: 1px solid #fefefe;
    border-left: 1px solid #fefefe;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* stylists page main content */
.stylist-title-img {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.bio-left, .bio-name-left {
    text-align: left;
    display: inline-block;
}

.bio-right, .bio-name-right {
    text-align: right;
    display: inline-block;
}

    .bio-name-left h3, .bio-name-right h3 {
        color: #434746;
        margin-bottom: 10px;
    }

.appointment-btn {
    background: linear-gradient(rgb(245, 177, 180) 5%, rgb(240, 98, 119) 100%) rgb(245, 177, 180);
    border-radius: 5px;
    border: 1px solid #fefefe;
    display: inline-block;
    cursor: pointer;
    color: #fefefe;
    font-family: 'Cormorant Upright', serif;
    font-size: 22px;
    padding: 6px 12px;
    text-decoration: none;
}

    .appointment-btn:hover {
        background: linear-gradient(rgb(240, 98, 119) 5%, rgb(245, 177, 180) 100%) rgb(240, 98, 119);
    }

.bio-left img, .bio-right img {
    width: 200px;
    height: auto;
    margin: 20px 20px 10px 20px;
}

.bio-left img {
    float: left;
}

.bio-right img {
    float: right;
}

.bio-left p, .bio-right p {
    display: inline-block;
    text-align: left;
    margin: 10px 0 50px 0;
}

.clearfloat {
    clear: both;
}

/* gallery page main content */
.figure {
    border: 1px solid #fefefe;
    border-radius: 5px;
}

    .figure:hover {
        border: 1px solid #f06277;
        background-color: #f06277;
    }

    .figure a {
        text-decoration: none;
        color: #fefefe;
    }

    .figure img {
        width: 100%;
        height: auto;
    }

figcaption {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.gallery {
    padding: 20px 10px 30px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 750px) {
    .gallery {
        width: 49.99999%;
        margin: 6px 0;
    }
}

/* Footer*/
footer {
    width: 80%;
    min-width: 625px;
    margin: 10px auto 10px;
    padding: 0 20px 30px;
    background-color: #434746;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

.footer-logo {
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
}

    .footer-logo span:hover {
        background-color: #111111;
        padding: 10px 30px;
        border-radius: 5px;
    }

.footer-address, .footer-phone, .copyright {
    float: left;
    width: 33.33333%;
    margin: 0;
}

.footer-address {
    text-align: left;
}

.footer-phone {
    text-align: center;
}

.copyright {
    text-align: right;
}
