body {
    font-size: x-large;
    background-color: #eaeaea;
    /* image credit to: http://backgroundlabs.com/item/light-grey-moroccan-pattern/ */
    background-image: url("images/light-grey-moroccan-pattern-3021.png");
    background-attachment: fixed;
    margin: 0;
    font-family: 'Cormorant Upright', serif;
    color: #fefefe;
}

.material-icons {
    vertical-align: -14%;
}

/* The navigation bar */
.nav-bar {
    padding-top: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 870px;
}

    /* Links inside the nav-bar and footer */
    .nav-bar ul, .footer-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #434746;
    }

    .nav-bar li, .footer-nav li {
        display: inline;
    }

        .nav-bar li a, .footer-nav li a {
            display: inline-block;
            color: #fefefe;
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
        }

            .nav-bar li a:hover:not(.active), .footer-nav li a:hover:not(.active) {
                background-color: #111111;
                color: #fefefe;
                padding: 10px 30px;
            }

.active {
    background-color: #f06277;
}

    .active:hover {
        padding: 10px 30px;
    }

/* Header content */
header {
    min-width: 870px;
}

    header h1 {
        font-size: 250%;
        margin-top: 65px;
        margin-bottom: 0;
        text-align: center;
        width: 80%;
        min-width: 870px;
        margin-right: auto;
        margin-left: auto;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

    header span {
        border-radius: 5px;
        padding: 0 50px 3px;
        background-color: #f7abae;
        background: rgba(247, 171, 174, 0.9);
        border: 1px solid #fefefe;
    }

    header img {
        width: 25%;
        height: auto;
        max-width: 400px;
        margin: auto;
        margin-top: -60px;
        display: block;
    }

/* Main content */
.main {
    display: block;
}

main {
    width: 80%;
    min-width: 830px;
    margin-top: -60px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    background-color: #f7abae;
    background: rgba(247, 171, 174, 0.9);
    border-radius: 5px;
    text-align: center;
    border: 1px solid #fefefe;
}

    main h2 {
        padding: 20px;
        margin: 0;
        font-weight: 400;
        font-style: italic;
        color: #434746;
    }

    main img {
        border: 1px solid #fefefe;
        border-radius: 5px;
    }

.home-content, .stylist-content {
    width: 50%;
    min-width: 700px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}

    .home-content ul {
        list-style-type: none;
        padding: 0;
    }

.list-title {
    font-weight: bolder;
    text-decoration: underline;
}

.location, .hours {
    display: inline;
    margin-top: 45px;
    width: 35%;
    border: 1px solid #fefefe;
    border-radius: 5px;
    background-color: #434746;
}

.location {
    float: left;
}

.hours {
    float: right;
}

.bio-left, .bio-name-left {
    text-align: left;
    display: inline-block;
}

.bio-right, .bio-name-right {
    text-align: right;
    display: inline-block;
}

    .bio-name-left h3, .bio-name-right h3 {
        color: #434746;
        margin-bottom: 10px;
    }

.appointment-btn {
    background: linear-gradient(rgb(245, 177, 180) 5%, rgb(240, 98, 119) 100%) rgb(245, 177, 180);
    border-radius: 5px;
    border: 1px solid #fefefe;
    display: inline-block;
    cursor: pointer;
    color: #fefefe;
    font-family: 'Cormorant Upright', serif;
    font-size: 22px;
    padding: 6px 12px;
    text-decoration: none;
}

    .appointment-btn:hover {
        background: linear-gradient(rgb(240, 98, 119) 5%, rgb(245, 177, 180) 100%) rgb(240, 98, 119);
    }

.bio-left img, .bio-right img {
    width: 200px;
    height: auto;
    margin: 20px 20px 10px 20px;
}

.bio-left img {
    float: left;
}

.bio-right img {
    float: right;
}

.bio-left p, .bio-right p {
    display: inline-block;
    text-align: left;
    margin: 10px 0 50px 0;
}

.clearfloat {
    clear: both;
}

/* Footer*/
footer {
    width: 80%;
    min-width: 830px;
    margin: 10px auto 10px;
    padding: 0 20px 30px;
    background-color: #434746;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    text-decoration: none;
}

.footer-logo {
    color: #fefefe;
    text-decoration: none;
    cursor: pointer;
}

.footer-address, .footer-phone, .copyright {
    float: left;
    width: 33.33333%;
    margin: 0;
}

.footer-address {
    text-align: left;
}

.footer-phone {
    text-align: center;
}

.copyright {
    text-align: right;
}
